<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apps</key>
	<array>
		<dict>
			<key>name</key>
			<string>一点资讯</string>
			<key>domain</key>
			<string>www.yidianzixun.com</string>
			<key>scheme</key>
			<string>yidian://www.yidianzixun.com/back?app=zhihu</string>
			<key>icon</key>
			<string>yidian</string>
		</dict>
		<dict>
			<key>name</key>
			<string>一点资讯专业版</string>
			<key>domain</key>
			<string>www.yidianzixun.com</string>
			<key>scheme</key>
			<string>yidianpro://www.yidianzixun.com/back?app=zhihu</string>
			<key>icon</key>
			<string>yidian</string>
		</dict>
		<dict>
			<key>name</key>
			<string>一点资讯尝鲜版</string>
			<key>domain</key>
			<string>www.yidianzixun.com</string>
			<key>scheme</key>
			<string>yidianchangxian://www.yidianzixun.com/back?app=zhihu</string>
			<key>icon</key>
			<string>yidian</string>
		</dict>
		<dict>
			<key>name</key>
			<string>一点资讯兴趣版</string>
			<key>domain</key>
			<string>www.yidianzixun.com</string>
			<key>scheme</key>
			<string>yidianjingdian://www.yidianzixun.com/back?app=zhihu</string>
			<key>icon</key>
			<string>yidian</string>
		</dict>
		<dict>
			<key>name</key>
			<string>一点资讯视频版</string>
			<key>domain</key>
			<string>www.yidianzixun.com</string>
			<key>scheme</key>
			<string>yidianshipin://www.yidianzixun.com/back?app=zhihu</string>
			<key>icon</key>
			<string>yidian</string>
		</dict>
		<dict>
			<key>name</key>
			<string>创意设计</string>
			<key>domain</key>
			<string>www.yidianzixun.com</string>
			<key>scheme</key>
			<string>yidiandesign2://www.yidianzixun.com/back?app=zhihu</string>
			<key>icon</key>
			<string>disign</string>
		</dict>
		<dict>
			<key>name</key>
			<string>美发说</string>
			<key>domain</key>
			<string>www.yidianzixun.com</string>
			<key>scheme</key>
			<string>yidianhair://www.yidianzixun.com/back?app=zhihu</string>
			<key>icon</key>
			<string>hair</string>
		</dict>
		<dict>
			<key>name</key>
			<string>穿衣搭配</string>
			<key>domain</key>
			<string>www.yidianzixun.com</string>
			<key>scheme</key>
			<string>yidiandress2://www.yidianzixun.com/back?app=zhihu</string>
			<key>icon</key>
			<string>dress</string>
		</dict>
		<dict>
			<key>name</key>
			<string>减肥瘦身</string>
			<key>domain</key>
			<string>www.yidianzixun.com</string>
			<key>scheme</key>
			<string>yidianslim2://www.yidianzixun.com/back?app=zhihu</string>
			<key>icon</key>
			<string>slim</string>
		</dict>
	</array>
</dict>
</plist>
