<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>id</key>
    <string>com.zhihu.default</string>
    <key>version</key>
    <integer>1</integer>
    <key>title</key>
    <string>默认</string>
    <key>group_type</key>
    <integer>1</integer>
    <key>icon_url</key>
    <string>tab_icon@2x.png</string>
    <key>state</key>
    <integer>1</integer>
    <key>emoticons</key>
    <array>
        <dict>
            <key>name</key>
            <string>[谢邀]</string>
            <key>png</key>
            <string>expression_1@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[赞同]</string>
            <key>png</key>
            <string>expression_2@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[蹲]</string>
            <key>png</key>
            <string>expression_3@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[爱]</string>
            <key>png</key>
            <string>expression_4@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[害羞]</string>
            <key>png</key>
            <string>expression_5@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[好奇]</string>
            <key>png</key>
            <string>expression_6@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[思考]</string>
            <key>png</key>
            <string>expression_7@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[酷]</string>
            <key>png</key>
            <string>expression_8@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[大笑]</string>
            <key>png</key>
            <string>expression_9@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[微笑]</string>
            <key>png</key>
            <string>expression_10@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[捂脸]</string>
            <key>png</key>
            <string>expression_11@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[捂嘴]</string>
            <key>png</key>
            <string>expression_12@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[飙泪笑]</string>
            <key>png</key>
            <string>expression_13@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[耶]</string>
            <key>png</key>
            <string>expression_14@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[可怜]</string>
            <key>png</key>
            <string>expression_15@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[惊喜]</string>
            <key>png</key>
            <string>expression_16@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[流泪]</string>
            <key>png</key>
            <string>expression_17@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[大哭]</string>
            <key>png</key>
            <string>expression_18@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[生气]</string>
            <key>png</key>
            <string>expression_19@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[惊讶]</string>
            <key>png</key>
            <string>expression_20@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[调皮]</string>
            <key>png</key>
            <string>expression_21@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[衰]</string>
            <key>png</key>
            <string>expression_22@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[发呆]</string>
            <key>png</key>
            <string>expression_23@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[机智]</string>
            <key>png</key>
            <string>expression_24@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[嘘]</string>
            <key>png</key>
            <string>expression_25@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[尴尬]</string>
            <key>png</key>
            <string>expression_26@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[小情绪]</string>
            <key>png</key>
            <string>expression_27@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[为难]</string>
            <key>png</key>
            <string>expression_28@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[吃瓜]</string>
            <key>png</key>
            <string>expression_29@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[语塞]</string>
            <key>png</key>
            <string>expression_30@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[看看你]</string>
            <key>png</key>
            <string>expression_31@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[撇嘴]</string>
            <key>png</key>
            <string>expression_32@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[魔性笑]</string>
            <key>png</key>
            <string>expression_33@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[潜水]</string>
            <key>png</key>
            <string>expression_34@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[口罩]</string>
            <key>png</key>
            <string>expression_35@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[开心]</string>
            <key>png</key>
            <string>expression_36@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[滑稽]</string>
            <key>png</key>
            <string>expression_37@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[笑哭]</string>
            <key>png</key>
            <string>expression_38@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[白眼]</string>
            <key>png</key>
            <string>expression_39@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[红心]</string>
            <key>png</key>
            <string>expression_40@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[柠檬]</string>
            <key>png</key>
            <string>expression_41@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[拜托]</string>
            <key>png</key>
            <string>expression_42@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[握手]</string>
            <key>png</key>
            <string>expression_43@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[赞]</string>
            <key>png</key>
            <string>expression_44@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[发火]</string>
            <key>png</key>
            <string>expression_45@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[不抬杠]</string>
            <key>png</key>
            <string>expression_46@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[种草]</string>
            <key>png</key>
            <string>expression_47@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[抱抱]</string>
            <key>png</key>
            <string>expression_48@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
        <dict>
            <key>name</key>
            <string>[doge]</string>
            <key>png</key>
            <string>expression_49@2x.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <integer>-1</integer>
        </dict>
    </array>
</dict>
</plist>
