<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>com.zhihu.baozi</string>
	<key>version</key>
	<integer>1</integer>
	<key>title</key>
	<string>包子</string>
	<key>group_type</key>
	<integer>2</integer>
	<key>icon_url</key>
	<string>tab_icon@2x.png</string>
	<key>selected_icon_url</key>
	<string>selected_tab_icon@2x.png</string>
	<key>state</key>
	<integer>1</integer>
	<key>emoticons</key>
	<array>
		<dict>
			<key>name</key>
			<string>[666]</string>
			<key>png</key>
			<string>expression_1@2x.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>[闭嘴]</string>
			<key>png</key>
			<string>expression_2@2x.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>[吃瓜中]</string>
			<key>png</key>
			<string>expression_3@2x.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>[打脸]</string>
			<key>png</key>
			<string>expression_4@2x.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>[裂开]</string>
			<key>png</key>
			<string>expression_5@2x.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>[感谢]</string>
			<key>png</key>
			<string>expression_6@2x.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>[哈士奇]</string>
			<key>png</key>
			<string>expression_7@2x.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>[加油]</string>
			<key>png</key>
			<string>expression_8@2x.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>[纠结]</string>
			<key>png</key>
			<string>expression_9@2x.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>[哭]</string>
			<key>png</key>
			<string>expression_10@2x.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>[流口水]</string>
			<key>png</key>
			<string>expression_11@2x.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>[社会人]</string>
			<key>png</key>
			<string>expression_12@2x.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>[生气了]</string>
			<key>png</key>
			<string>expression_13@2x.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>[思考中]</string>
			<key>png</key>
			<string>expression_14@2x.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>[酸了]</string>
			<key>png</key>
			<string>expression_15@2x.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>[偷看]</string>
			<key>png</key>
			<string>expression_16@2x.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>[头秃]</string>
			<key>png</key>
			<string>expression_17@2x.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>[吐血]</string>
			<key>png</key>
			<string>expression_18@2x.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>[哇]</string>
			<key>png</key>
			<string>expression_19@2x.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>[旺柴]</string>
			<key>png</key>
			<string>expression_20@2x.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>[学到了]</string>
			<key>png</key>
			<string>expression_21@2x.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>[疑问]</string>
			<key>png</key>
			<string>expression_22@2x.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>[晕]</string>
			<key>png</key>
			<string>expression_23@2x.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<integer>-1</integer>
		</dict>
	</array>
</dict>
</plist>
